<!doctype html>
<html lang="en">
    <head>
        {% load static%}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PATIENT - DISEASE RISK EVALUATOR</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="{% static 'css/patient.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script src="{% static 'js/patient.js' %}"></script> 
	</head>
    
    <body id="top">
                    <div class ="row">
							<nav class="navbar navbar-expand-lg navbar-light bg-light">
							  <div class="container-fluid">
							    <a class="navbar-brand" href="#">DISEASE RISK EVALUATOR</a>
							    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							      <span class="navbar-toggler-icon"></span>
							    </button>
							    <div class="collapse navbar-collapse" id="navbarNav">
							      <ul class="navbar-nav">
							        <li class="nav-item">
							          <a class="nav-link active" aria-current="page" href="#">Home</a>
							        </li>
                    			    <li class="nav-item">
							          <a class="nav-link" onclick="">Contact</a>
							        </li>
							        <li class="nav-item">
							          <a class="nav-link" onclick="">About us</a>
							        </li>
							      </ul>
							    </div>
							  </div>
							</nav>
                    </div>

					<form action ="{% url "result" %}" method= "post">
						{% csrf_token %}
					<div class="rowtop">
						<div class="row">
							<div class="col">
								<label>Choose Symptom 1</label>
								<br>
								<br>
								<select name = "sym1" class="btn btn-warning"> 
									<option class="btn-light" value = "None">None</option>
                                     {% for st in SymptomsList %}
										<option class="btn-light" value = "{{st}}">{{st}}</option>  
								     {% endfor %}
								</select> 
							</div>
							<div class="col">
								<label>Choose Symptom 2</label>
								<br>
								<br>
								<select name = "sym2" class="btn btn-warning"> 
									<option class="btn-light" value = "None">None</option>
                                    {% for st in SymptomsList %}
                                    <option class="btn-light" value = "{{st}}">{{st}}</option>  
                                   {% endfor %}
								</select> 
								
							</div>
						</div>
					</div>

					<div class="rowtop">
						<div class="row">
							<div class="col">
								<label>Choose Symptom 3</label>
								<br>
								<br>
								<select name = "sym3" class="btn btn-warning"> 
									<option class="btn-light" value = "None">None</option>
                                    {% for st in SymptomsList %}
                                    <option class="btn-light" value = "{{st}}">{{st}}</option>  
                                    {% endfor %}
								</select> 
							</div>
							<div class="col">
								<label>Choose Symptom 4</label>
								<br>
								<br>
								<select name = "sym4" class="btn btn-warning"> 
									<option class="btn-light" value = "None">None</option>
                                    {% for st in SymptomsList %}
                                    <option class="btn-light" value = "{{st}}">{{st}}</option>  
                                    {% endfor %}
								</select> 
							</div>

						</div>
					</div>

					<div class="rowtop">
						<div class="row">
							<div class="col">
								<label>Choose Symptom 5</label>
								<br>
								<br>
								<select name = "sym5" class="btn btn-warning"> 
									<option class="btn-light" value = "None">None</option>
                                    {% for st in SymptomsList %}
                                    <option class="btn-light" value = "{{st}}">{{st}}</option>  
                                    {% endfor %}
								</select> 
							</div>
							<div class="col">
								<label>Choose Symptom 6</label>
								<br>
								<br>
								<select name = "sym6" class="btn btn-warning">
									<option class="btn-light" value = "None">None</option> 
                                    {% for st in SymptomsList %}
                                    <option class="btn-light" value = "{{st}}">{{st}}</option>  
                                    {% endfor %}
								</select> 
							</div>

						</div>
					</div>
					<button type="submit" class="btn btn-dark predictbut">Predict Now</button>
					<a href="{% url "reset" %}" class="btn btn-dark resetbut">Reset</button>
				</form>               
    </body>
</html>