.downloaderinfo{
  margin-top:50px;
}
.downloader{
  margin-top: 30px;
}
.chooser{
  margin-top: 50px;
}
.uploader{
  margin-top:30px;
}

.progressCus{
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 10px;
  background: black;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 7px;
  width: 500px;
  height: 42px;
  color : white;
  position: relative;
}
.innerprgCus{
  content : attr(data-label);
  color :black;
  position: relative;
  font-size : large;
  width: 100%;
  height: 28px;
  border-radius: 10px;
  display: flex;
  min-width: 2rem;
  background-color: #FFEA00;
}
.progressDisplay{
  display: none;
 } 
 body{
   background-image: url("../images/doctors_image.jpg");
   background-repeat: no-repeat;
   background-size: cover; 
   background-attachment: fixed;
 }